<!doctype html>
<html lang="en">



<style>
body { background: url(https://wallpapertag.com/wallpaper/full/7/f/6/828757-top-blue-tribal-wallpaper-2880x1800.jpg); } 
</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>







    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="main">Макс Фрай</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="main">Главная <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a download href="/static/books/books.zip" class="nav-link">Скачать</a>
      </li>

      </li>
    </ul>
  </div>
</nav>



<p style = "color:yellow">
Главный создатель - Юровский Никита <br>
Главный программист - Юровский Никита<br>
Главный оформитель - Bootstrap<br>
При любых сбоях в работе звоните 895234081118
</p>

